<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit task</title>
</head>
<body>
<h2>Task editing:</h2>
<form th:method="PATCH" th:action="@{/tasks/{id}(id=${task.getId()})}" th:object="${task}">
    <label for="description">Description</label>
    <input type="text" th:field="*{description}" id="description">
    <br>
    <label for="status">Status</label>
    <select id="status" th:field="*{status}">
        <option th:each="status : ${T(com.denysdudnik.todo_project.enums.Status).values()}"
                th:value="${status}"
                th:text="${status}">
        </option>
    </select>
    <br>
    <input type="submit" value="Confirm">
</form>
</body>
</html>