<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Your tasks</title>
</head>
<body>
<h2>Tasks</h2>
<div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.id}">ID</td>
            <td th:text="${task.description}">Description</td>
            <td th:text="${task.status}">Status</td>
            <td>
                <form th:action="@{/tasks/{id}(id=${task.getId()})}" method="get">
                    <input type="hidden" name="id" th:value="${task.id}"/>
                    <button type="submit">Edit</button>
                </form>
            </td>
            <td>
                <form th:action="@{/tasks/}" th:method="DELETE">
                    <input type="hidden" name="id" th:value="${task.id}"/>
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="task-info">
        <div class="task-info__total-rows">
            Total Rows: [[${totalTasks}]]
        </div>
        <div class="task-info__buttons">
            <span th:each="i : ${#numbers.sequence(1, totalPages)}">
                <button class="task-info__button" th:if="${currentPage != i - 1}" th:type="button"
                        th:onclick="'window.location.href=\'/tasks/page/'+${i - 1}+'\' '">
                    [[${i}]]
                </button>
                <span th:unless="${currentPage != i - 1}">[[${i}]]</span> &nbsp; &nbsp;
            </span>
            <button class="task-info__button" th:if="${currentPage < totalPages - 1}" th:type="button"
                    th:onclick="'window.location.href=\'/tasks/page/'+${currentPage+1}+'\' '">
                Next
            </button>
            <span th:unless="${currentPage < totalPages}">Next</span>
            <button class="task-info__button" th:if="${currentPage < totalPages - 1}" th:type="button"
                    th:onclick="'window.location.href=\'/tasks/page/'+${totalPages - 1}+'\' '">
                Last
            </button>
            <span th:unless="${currentPage < totalPages}">Last</span>
        </div>
    </div>
</div>

<br><br>

<form th:method="POST" th:action="@{/tasks/}" th:object="${task}">

    <label for="description">Description: </label>
    <input type="text" th:field="*{description}" id="description">
    <br>

    <label for="status">Status: </label>
    <select id="status" th:field="*{status}">
        <option th:each="status : ${T(com.denysdudnik.todo_project.enums.Status).values()}"
                th:value="${status}"
                th:text="${status}">
        </option>
    </select>
    <br>
    <input type="submit" value="Add">
</form>
</body>
</html>