<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New task</title>
</head>
<body>
<h1>Add page</h1>
<form th:method="POST" th:action="@{/tasks}" th:object="${task}">

    <label for="description">Description: </label>
    <input type="text" th:field="*{description}" id="description">
    <br>

    <label for="status">Status: </label>
    <select id="status">
        <option th:each="status : ${T(com.denysdudnik.todo_project.enums.Status).values()}"
                th:value="${{status}}"
                th:text="${status}">
        </option>
    </select>
    <br>

    <input type="submit" value="Add">

</form>
</body>
</html>